body {
  margin: 0;
  background-color: rgb(219, 185, 143);
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contaner {
  display: flex;
  flex-direction: row;
  width: 500px;
  /* overflow: hidden; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transform: translateX(-500px);
}

i {
  font-size: 30px;
  color: gray;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
